<div class="jumbotron">
	  <h1 class="display-4">Welcome to ebook</h1>
  <p class="lead">find the smartest electronic books</p>
  <%= link_to 'books', books_path, class: 'btn btn-warning btn-lg' %>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-lg' %>

</div>