<div class="col-3">
  <div class="thumbnail">
    <%= image_tag book.image.url, class: 'img-fluid fluid-1 '%>
  </div>
  <div class="caption">
  <p>
    <strong><%= link_to book.name, book_path(book) %></strong></p>
<p class="p-money">$<%= book.price/100 %></p>
  </div>
</div>